
.body2{
    background-color: #6792577d;
}
.texto{
    padding-bottom: 50px;
    text-align: center;
}
.texto h1{
    padding-bottom: 5px;
    padding-top: 5px;
}
.card-group{
    padding-bottom: 70px;
}