.row{
    padding-bottom: 70px;
    text-align: center;
}
.body3{
    background-color: #6792577d;
}
.presentacion{
    padding-bottom: 70px;
    text-align: center;
}
.presentacion h1{
    padding-bottom: 5px;
    padding-top: 5px;
}

