.body{
    background-color: #6792577d;
}
.card{
    margin-left: 40%;
    margin-bottom: 150px;
    margin-top: 90px;
}
.tex{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 5px;
}